<div class="Top-header col-sm-12 background-secondary">
    <div class="row">
        <div class="col-sm-3">
            <i class='material-icons margin-right-10 float-left line-height-35 cursor-pointer menu-toggle'>&#xe3c7</i>
            <img src="../../../assets/img/pageup-logo.png" width="90px" height="auto" alt="GymB-logo" class="rounded-circle">
        </div>
        <div class="col-sm-9 text-right">

            <ul class="margin-0 padding-0 list-unstyled top-profile-ul mt-5">
                <span class="margin-right-20 font-weight-600"> <a href="#" class="color-white"><i
                        class='material-icons'></i> Home </a></span>
                <li class="position-relative">
                    <img src="images/pageup-adminUser.png" width="35px" height="35px" class="rounded-circle" alt="">
                    <span class="role-name">Admin <i class='material-icons fa-rotate-90 margin-right-10'>
                        chevron_right
                    </i></span>

                    <ul class="submenu margin-0 padding-0 ">
                        <li><a href="#">Akanksha Jain</a></li>
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li class="logout-bg"><a href="login.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>