<div class="Top-header col-sm-12 background-secondary">
    <div class="row">
        <div class="col-sm-3">
            <i class="material-icons  mr-10 float-left line-height-35 cursor-pointer menu-toggle">
                menu
                </i>
            <img src="../../../assets/img/pageup-logo.png" width="90px" height="auto" alt="Pageup-logo" class="rounded-circle">
        </div>
        <div class="col-sm-9 text-right">

            <ul class="LM-margin-0 LM-padding-0 list-unstyled top-profile-ul mt-5">
                <li class="position-relative">
                    <img src="../../../assets/img/pageup-adminUser.png" width="35px" height="35px" class="rounded-circle" alt="">
                    <span class="LM-role-name">Admin <i class='material-icons  mr-10'>
                            expand_more
                    </i></span>

                    <ul class="submenu LM-margin-0 LM-padding-0 ">
                        <li><a href="#">Akanksha Jain</a></li>
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li class="logout-bg"><a href="login.html">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="side-header">
    <ul class="LM-margin-0 LM-padding-0 list-unstyled sidebar-ul">
        <li class="active-li"><a [routerLink]="['home']"><i class='material-icons mr-10 float-right'>dashboard</i> Dashboard </a></li>
        <li><a href="inner.html"><i class='material-icons mr-10 float-right'>dashboard</i> Leave Type </a>
        </li>
        <li><a href="#"><i class='material-icons mr-10 float-right'>dashboard</i> Creadit Leave </a></li>
        <li><a href="#"><i class='material-icons mr-10 float-right'>dashboard</i> Holidays
        </a></li>

    </ul>
</div>
